.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn-blue {
    background-color: #3490dc;
}

.btn-red {
    background-color: #e3342f;
}

.btn-green {
    background-color: #38c172;
}
